<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/stylesheet.css">
<head>
    <title>Register</title>
</head>
<body>
    <h1>Create an Account</h1>
    <form method="POST" action="/register">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <label for="birth_day">Birth Day:</label>
    <input type="number" name="birth_day" min="1" max="31" required>
        <label for="birth_month">Birth Month:</label>
    <input type="number" name="birth_month" min="1" max="12" required>
    
    <label for="birth_year">Birth Year:</label>
    <input type="number" name="birth_year" min="1900" max="2024" required>
        <button type="submit">Register</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="{{ category }}">
                {{ messages[-1][1] }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>
